Repository jmandel1027/perspex, pull requests merged in 2022-12, with the labels that each got.

#11 feat: adding hermit
  .github/workflows/backend-codegen-linter.yml
  .github/workflows/codegen-linter.yml
  README.md
  Tiltfile
  bin/.go-1.19.3.pkg
  bin/.helm-3.9.4.pkg
  bin/.k3d-5.4.6.pkg
  bin/.kubectl-1.24.0.pkg
  bin/.migrate-4.15.2.pkg
  bin/.tilt-0.30.12.pkg
  bin/.yq-4.16.2.pkg
  bin/README.hermit.md
  bin/activate-hermit
  bin/boot.sh
  bin/codegen-linter.sh
  bin/go
  bin/gofmt
  bin/helm
  bin/hermit
  bin/hermit.hcl
  bin/k3d
  bin/kubectl
  bin/migrate
  bin/tilt
  bin/yq
  services/backend/.gitignore
  services/backend/Dockerfile
  services/backend/Tiltfile
  services/backend/bin/backend
  services/backend/bin/prepare.sh
  services/migration/Tiltfile
Labels: infrastructure/workflows, service/migration, utils

#14 feat: activating proto lint
  .github/workflows/codegen-linter.yml
  bin/codegen-linter.sh
  services/backend/pkg/models/boil_queries.go
  services/backend/pkg/models/boil_table_names.go
  services/backend/pkg/models/boil_types.go
  services/backend/pkg/models/boil_view_names.go
  services/backend/pkg/models/organizations.go
  services/backend/pkg/models/psql_upsert.go
  services/backend/pkg/models/users.go
Labels: infrastructure/workflows, utils

#15 feat: scaffolding user service schema
  schemas/graphql/go.mod
  schemas/graphql/gqlgen.yml
  schemas/graphql/pkg/model/generated.go
  schemas/graphql/pkg/resolvers/generated.go
  schemas/graphql/pkg/source/federation.go
  schemas/graphql/pkg/source/generated.go
  schemas/openapi/users/v1/user.swagger.json
  schemas/openapi/users/v1/users.swagger.json
  schemas/proto/buf.gen.yaml
  schemas/proto/go.mod
  schemas/proto/go.sum
  schemas/proto/goproto/pkg/users/v1/user.pb.go
  schemas/proto/goproto/pkg/users/v1/user.pb.gw.go
  schemas/proto/goproto/pkg/users/v1/user_grpc.pb.go
  schemas/proto/goproto/pkg/users/v1/users.pb.go
  schemas/proto/goproto/pkg/users/v1/users.pb.gw.go
  schemas/proto/goproto/pkg/users/v1/users_grpc.pb.go
  schemas/proto/users/v1/user.proto
  schemas/proto/users/v1/users.proto
  services/backend/cmd/backend/main.go
  services/backend/go.mod
  services/backend/go.sum
  services/backend/pkg/config/main.go
  services/backend/pkg/server/main.go
  services/backend/pkg/user/service/main.go
  services/backend/pkg/utils/main.go
Labels: schema/graphql

#17 feat: improving docs
  .github/media/perspex-arch.png
  README.md
Labels: infrastructure/workflows

#23 feat: setting up backend pg layers
  Tiltfile
  infrastructure/charts/perspex/charts/backend/templates/_helpers.tpl
  infrastructure/charts/perspex/charts/backend/templates/ingressroute.yaml
  infrastructure/charts/perspex/charts/backend/templates/service.yaml
  infrastructure/charts/perspex/charts/backend/values.yaml
  infrastructure/tilt/k3d-config.yaml
  infrastructure/tilt/values-dev.yaml
  services/backend/Tiltfile
  services/backend/go.mod
  services/backend/go.sum
  services/backend/pkg/config/main.go
  services/backend/pkg/database/domain/main.go
  services/backend/pkg/database/postgres/main.go
  services/backend/pkg/logger/main.go
  services/backend/pkg/middleware/postgres/main.go
  services/backend/pkg/router/main.go
  services/backend/pkg/server/main.go
  services/backend/pkg/tracing/main.go
  services/backend/pkg/user/repository/main.go
  services/backend/pkg/user/service/main.go
  services/backend/sqlboiler.toml
Labels: infrastructure/tilt

#24 chore: cleaning up backend chart env vars
  infrastructure/charts/perspex/charts/backend/templates/_helpers.tpl
  infrastructure/charts/perspex/charts/backend/values.yaml
  infrastructure/charts/perspex/values.yaml
  infrastructure/tilt/values-dev.yaml
  services/backend/pkg/config/main.go
Labels: infrastructure/tilt

#26 chore: tuning backend dev templates
  infrastructure/charts/perspex/templates/_helpers.tpl
  infrastructure/tilt/values-dev.yaml
  services/backend/pkg/config/main.go
  services/backend/pkg/database/postgres/main.go
  services/backend/pkg/middleware/postgres/main.go
  services/backend/pkg/server/main.go
  services/backend/pkg/user/repository/main.go
Labels: infrastructure/tilt

#28 feat: setup user queries
  .github/workflows/migration-linter.yml
  bin/codegen-linter.sh
  schemas/graphql/go.mod
  schemas/graphql/go.sum
  schemas/graphql/gqlgen.yml
  schemas/graphql/pkg/model/generated.go
  schemas/graphql/pkg/resolvers/generated.go
  schemas/graphql/pkg/source/generated.go
  schemas/graphql/schema/user.graphql
  schemas/perspex/pkg/models/users.go
  services/backend/Tiltfile
  services/backend/bin/prepare.sh
  services/migration/src/perspex/1670768669_alter_users.down.sql
  services/migration/src/perspex/1670768669_alter_users.up.sql
Labels: infrastructure/workflows, service/migration, utils, schema/graphql

#29 feat: setting up grpc schema for paginated users
  schemas/graphql/go.work
  schemas/graphql/go.work.sum
  schemas/openapi/users/v1/user.swagger.json
  schemas/perspex/go.mod
  schemas/perspex/go.sum
  schemas/perspex/go.work
  schemas/perspex/go.work.sum
  schemas/proto/go.work
  schemas/proto/goproto/pkg/users/v1/user.pb.go
  schemas/proto/goproto/pkg/users/v1/user.pb.gw.go
  schemas/proto/goproto/pkg/users/v1/user_grpc.pb.go
  schemas/proto/users/v1/user.proto
  services/backend/bin/prepare.sh
  services/backend/go.mod
  services/backend/go.sum
  services/backend/go.work
  services/backend/go.work.sum
  services/backend/pkg/user/service/main.go
  services/gateway/go.mod
Labels: schema/graphql, schema/perspex

#32 feat: got local ingress forwarding with traefik working
  Tiltfile
  infrastructure/charts/perspex/Chart.lock
  infrastructure/charts/perspex/charts/backend/templates/NOTES.txt
  infrastructure/charts/perspex/charts/backend/templates/_helpers.tpl
  infrastructure/charts/perspex/charts/backend/templates/canary.yaml
  infrastructure/charts/perspex/charts/backend/templates/configmap-scripts.yaml
  infrastructure/charts/perspex/charts/backend/templates/deployment.yaml
  infrastructure/charts/perspex/charts/backend/templates/hpa.yaml
  infrastructure/charts/perspex/charts/backend/templates/ingress.yaml
  infrastructure/charts/perspex/charts/backend/templates/service-account.yaml
  infrastructure/charts/perspex/charts/backend/templates/service.yaml
  infrastructure/charts/perspex/charts/backend/templates/tests/test-connection.yaml
  infrastructure/charts/perspex/charts/backend/templates/traefik-ingress-route.yaml
  infrastructure/charts/perspex/charts/backend/templates/traefik-middleware.yaml
  infrastructure/charts/perspex/charts/backend/values.yaml
  infrastructure/charts/perspex/templates/_helpers.tpl
  infrastructure/charts/perspex/templates/configmap-scripts.yaml
  infrastructure/charts/perspex/templates/hook-db-migrations.yaml
  infrastructure/charts/perspex/templates/ingress.yaml
  infrastructure/charts/perspex/values.yaml
  infrastructure/tilt/k3d-config.yaml
  infrastructure/tilt/values-dev.yaml
  schemas/perspex/go.work
  schemas/perspex/go.work.sum
  services/backend/Tiltfile
  services/backend/go.mod
  services/backend/go.work.sum
  services/backend/pkg/config/main.go
  services/backend/pkg/user/repository/main.go
  services/backend/pkg/user/service/main.go
  services/migration/Tiltfile
Labels: service/migration, infrastructure/tilt, schema/perspex, infrastructure/charts

#35 feat: image release scripts
  .github/workflows/build-images.yml
  .github/workflows/codegen-linter.yml
  bin/release.sh
  schemas/proto/buf.go.gen.yaml
  schemas/proto/buf.js.gen.yaml
  schemas/proto/package.json
  services/backend/bin/prepare.sh
Labels: infrastructure/workflows, utils
